.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 20px;
    filter: drop-shadow(34.8541px 29.626px 48.34px var(--color-dropshadow));
    border-radius: 20px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: var(--color-white);
    border: 1px solid var(--color-card-border-default);
    border-radius: 20px;
    width: 315px;
}