.section-header {
    padding: 60px 0px 50px;
}

.section-header h2 {
    padding-bottom: 20px;
}

.section-header--narrow {
    padding: 60px 0 30px
}

.section-header--wide {
    padding: 100px 0px 60px;
}

.section-header--team {
    padding: 60px 0 60px;
}

.section-header--team h2 {
    padding-bottom: 20px;
}

.subtitle {
    text-align: center;
    font-size: 16px;
}

@media (min-width: 1280px) {

    .section-header h2 {
        text-align: left;
    }

    .section-header--narrow h2 {
        text-align: center;
    }

    .section-header--narrow p {
        text-align: center;
        font-size: 16px;
        margin-bottom: 30px;
    }

    .section-header--wide {
        padding-top: 120px;
    }

    .section-header--wide h2 {
        text-align: center;
    }

    .section-header--wide p {
        text-align: center;
        font-size: 16px;
    }

    .subtitle {
        text-align: left;
    }
}