.wrapper {
    padding: 0 30px;
    border-radius: 0px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper:has(.section-header--narrow) {
    padding-bottom: 60px;
}

.wrapper:has(.integrations) {
    padding-bottom: 60px;
}

@media (min-width: 768px) {
    .wrapper {
        padding: 0 50px;
    }

    .wrapper:has(.section-header--narrow) {
        padding-bottom: 60px;
    }
}

@media (min-width: 1280px) {
    .wrapper {
        padding: 60px 55px;
    }

    .wrapper:has(.hero) {
        padding-bottom: 0;
    }

    .wrapper:has(.section-header--wide) {
        padding: 0 55px 60px;
    }
}