.wrapper {
    display: flex;
    padding:0 30px;
    gap: 0;
    border-radius: 0px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .wrapper {
        padding: 0 50px;
    }

}
    
@media (min-width: 1280px) {
    .wrapper {
        padding: 60px 55px;
    }

}