/*buttons*/
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px 50px;
    border-radius:20px;
    border: 1px solid #009379;
}

.is-getstart {
    background: #009379;
    color: #fff;
}

.is-howworks {
    background: #fff;
    color: #009379;
}