/*clients*/
.clients__scroll {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 60px 0px;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #d8d8d8;
}

.clients__scroll img {
    width: 70px;
    flex-basis: 33%
}

@media (min-width: 768px) {
    .clients__scroll img {
        flex-basis: auto;
    }
    .clients__scroll {
        gap: 0;
    }
}

@media (min-width: 1024px) {
    .clients__scroll img {
        width: 90px;
    }
}