:root {
--bg-color--white: #ffff;
--bg-color--black: #000;
--color-text-green: #0EAD8E;
--color-text-default: #858b8a;
--color-white: #fff;
--color-black: #000;
--color-border-top:#222; 
--color-related: #0d1312;
--color-card-desc: #5e6463;
--color-footer-socials: rgb(133, 139, 138);
}

